
html{
    font-weight: bold;
}
body{
    background-color: #151c1f;
    font-family: 'Roboto', 'Times New Roman', 'Inter';
}
header{
    background-color: #1f754d;
}
a {
    font-weight: bold;
    text-decoration: none;
}

p{
    font-family: 'Roboto';
    font-size: 20px;
    text-align: justify;
    word-spacing: 5px;
    line-height: 1.6;
    font-weight: bold;
}
form{
    font-family: 'Roboto', 'Times New Roman', 'Inter';
    font-size: 20px;
    color:#000;
    font-weight: bold;
}
ul, ol{
    font-family: 'Roboto';
    font-size: 20px;
    color:#000;
    font-weight: bold;
}
footer{
    text-align: justify;
    font-size: 15px;
    color: #000;
    margin-top: 20px;
}
iframe{
    border-radius: 25px;
}
span{
    vertical-align: middle;
    text-align:center
    font-family 'Roboto', 'Times New Roman', 'Inter';
    font-weight: bold;
}
svg{
    vertical-align: middle;
}
aside{
    font-family: 'Roboto', 'Times New Roman', 'Inter';
    font-weight: bold;
}

.p{
    color: #dfdbdb
}

.encabezado{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: #000000;
    font-family: 'Roboto', 'Times New Roman', 'Inter';
    text-shadow: 2px 2px 10px #262525; 
}

.encabezadob{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: #dfdbdb;
    font-family: 'Roboto', 'Times New Roman', 'Inter';
    text-shadow: 2px 2px 10px #262525; 
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono{
    width: 15px;
    height: 15px;
}
.imagenes img {
    margin: 40px;    
}
.registerm{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    font-family: 'Segoe UI';
}
.caja{
    justify-content: center; 
    display: flex; 
    gap: 2vw;
    flex-wrap: wrap;
        /* esto permite que los elementos "bajen" a otra línea */
}

.cajap{
    justify-content: center; 
    display: flex; 
    gap: 2vw;
    flex-wrap: wrap;
        /* esto permite que los elementos "bajen" a otra línea */
}

.cajainvp{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    padding: 1.5rem;
    border-radius: 1.25rem;
    flex-wrap: wrap;
        /* esto permite que los elementos "bajen" a otra línea */
}

.cajainv{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    padding: 1.5rem;
    border-radius: 1.25rem;
    flex-wrap: wrap;
        /* esto permite que los elementos "bajen" a otra línea */
}

.fondosup{
    background-color: #1f754d;
}

.logo{
    width: auto;
    height: 50px;
}

.precio{
    font-size: 8rem;
    font-weight: bold;
    color: #dfdbdb;
    font-family: 'Roboto';
    text-align: center;
    vertical-align: middle;
}

.fondoimg{
    background-image: url("Bravo'S/img/Fondo.png");
    background-size: cover;
    color: #dfdbdb;
    }
    
    .insta {
        background-color: #F56040;
        display: inline-block;
        font-weight: 500;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.375rem;
        text-decoration: none;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.insta:hover {
    background-color: #9b45c4;
    box-shadow: 0 0 0.25rem rgba(131, 58, 180, 0.6);
    text-decoration: none;
}
